@model EGL_V1.Models.Dehumidifier

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Dehumidifier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Partner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalModelInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalModelInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DehumidifierType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DehumidifierType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateConfigurationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateConfigurationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntegratedEnergyFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntegratedEnergyFactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterRemovalCapcity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterRemovalCapcity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Market)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Market)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelIdentifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelIdentifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Criteria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Criteria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppliancesType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppliancesType.TypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DehumidifiersId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
